html {

    height: 100%;
    width: 100%;

}

body {
    font-family: 'Courier New', Courier, monospace;  
    background-image: url("../images/star-wars-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.start {
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.start-content {
    background-color: #fefefe;
    background-color: rgba(0,0,0,0.8); 
    margin: auto;
    border: 1px solid #888;
    max-width: 19%;
    max-height: 100%;
    text-align: center;
}

.start-content span{

    font-size: 2em;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 auto;
    font-family: "Lucida Console", Monaco, monospace;

}

#innerMyPic {

    display: block;
    margin: 0 auto;
    width: 100%;
    height: 80%;

}

#title-wrapper {

    position:relative;
    display: inline-block;
    width: 100%;
    height: 5vh;
    margin: 1%;

}

#title {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 2em;
    top: 0;
    right: 10%;

}

#game-wrapper {
    position: relative;
    width: 80%;
    min-height: 100%;
    margin-left:1%;

}

#character-select {
    position: static;
    width: 600px;
    /* border: 1px solid black; */
    height: 130px;
}

.section {

    position: static;

}

.character-card {
    float: left;
    position: relative;
    width: 20%; 
    height: 94%;
    border: 2px solid green;
    margin-right: 2%;
    font-size: 1em;
    text-align: center;
    background: white;

}

.character-card:last-child {
    margin-right: 0;

}

.name {
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 12px;
}

.character-picture {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

.health {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.section{
    position: static;
    width: 600px;
    /* border: 1px solid black; */
    /* max-height: 100px; */
    /* min-height: 100%; */
    height: 130px;

}

.secondary-title span {
    font-size: 1.5em;
}

.chosen-enemy {
    border: 1px solid black;
    margin: 0;
    background:red;

}


.next-defender {

    border: 1px solid black;
    margin: 0;
    background:red;

}

.chosen-defender {

    background: black;
    color: white;
    border: 2px solid green;

}

.secondary-title {
    color: white;
    font-weight: bold;
    font-size: 1.5em;

}

#defender-wrapper{

    min-height: 100%;

}

#result-wrapper {
    position: static;
    margin-top: 1%;
    margin-bottom: 2%;
}

#result {
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
    background-color: white;
    color: black;
    border: 2px grey solid;
    margin-bottom: 2%;

}


